.navbar ul {
  text-align: center;
  margin-top: 10px;
}
.navbar ul li {
  display: inline;
  padding: 15px;
}
.hadding h1 {
  text-align: center;
  padding-top: 20px;
}
.hadding h3 {
  text-align: center;
  padding-top: 20px;
}
.hadding image {
  text-align: center;
  padding-top: 20px;
}
.blogs h3 {
  text-align: center;
  padding-top: 20px;
}
.blogItem h4 {
  text-align: center;
  padding-top: 20px;
}
.blogItem p {
  text-align: center;
  padding-top: 5px;
}
